<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="card.css" />
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
    </style>
    <title>Card Component</title>
  </head>
  <body>
    <div class="card-grid">
      <div class="card">
        <div class="card-header">Amazing Pistachios</div>
        <div class="card-body">Lorem ipsum dolor sit</div>
        <div class="card-footer">
          <button class="btn">Details</button>
          <button class="btn btn-outline">Contact</button>
        </div>
      </div>

      <div class="card card-shadow">
        <div class="card-header">Amazing Pistachios</div>
        <div class="card-body">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. In voluptas,
          veniam atque numquam nesciunt aperiam suscipit corporis ad error
          laudantium?
        </div>
        <div class="card-footer">
          <button class="btn">Details</button>
          <button class="btn btn-outline">Contact</button>
        </div>
      </div>

      <div class="card card-shadow">
        <div class="card-header card-image">
          <img
            src="https://images-na.ssl-images-amazon.com/images/W/WEBP_402378-T2/images/I/A1ftnLqTOoL.AC_SL240_.jpg"
            alt="Little Debbie, Nutty Bars, 12 count"
          />
          <div class="card-header item-details">
            <p>price : $2.49</p>
          </div>
        </div>
        <div class="card-body">Little Debbie, Nutty Bars, 12 count</div>
        <div class="card-footer">
          <button class="btn">CRUD-1</button>
          <button class="btn btn-outline">CRUD-2</button>
          <button class="btn btn-outline">CRUD-3</button>
          <button class="btn btn-outline">CRUD-4</button>
        </div>
      </div>
    </div>
  </body>
</html>
