@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Oswald', sans-serif;
  background-color: #e1e5e6dd;
}

.navbar {
  top: 0;
  position: sticky;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
}

.logo {
  font-size: 3.5rem;
  margin-left: 6rem;
  line-height: 1rem;
  color: rgb(17, 11, 129);
}

.menu {
  display: flex;
  gap: 2.5em;
  font-size: 1.5rem;
}
.menu li:hover {
  border-top: 50px;
  border-radius: 5px;
  color: black;
  font-size: larger;
}
.menu li {
  margin-right: 2rem;
}
a {
  text-decoration: none;
  color: rgb(17, 11, 129);
}
a:hover {
  transform: scale(-0.5, 1); /*needs work*/
  text-decoration: underline;
}
li {
  list-style: none;
}
