<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Navbar Component</title>
  <link rel="stylesheet" href="navbar.css" />
</head>

<body>
  <nav class="navbar">
    <div class="logo">Cart</div>
    <ul class="nav-links">
      <div class="menu">
        <li><a href="/">Pantry</a></li>
        <li><a href="/">Buy Again</a></li>
        <li><a href="/">Produce</a></li>
        <li><a href="/">Snacks</a></li>
        <li><a href="/">BestSellers</a></li>
        <li><a href="/">Add New</a></li>
      </div>
    </ul>
  </nav>
  </div>

  <div class="container">
    <div class="card-container">
      <div class="card">
        <div class="card-header">
          <h3>Fresh Brand – Roma Tomatoes, 16 oz</h3>
        </div>
        <div class="card-body">
          <div class="card-img">
            <img
              src="https://images-na.ssl-images-amazon.com/images/W/WEBP_402378-T2/images/I/417mI7YZDHL.AC_SL240_.jpg"
              alt="item-image">
          </div>
          <div class="card-details">
            <div class="item-price">
              <p><span>Price</span> $2.49</p>
              <button type="button">10 percent Increase</button>
              <button type="button">10 Percet Decrease</button>
            </div>
            <div class="item-ratings">
              <p><span>Ratings</span>10672</p>
              <button type="button">Increase Ratings</button>
              <button type="button">Decrease Ratings</button>
            </div>

            <div class="item-stock">
              <p><span>In stock</span>Yes</p>
              <button type="button">Make Unavailable</button>
            </div>

            <p><span>Delivered in </span>6 days</p>
          </div>
        </div>
      </div>
        <div class="card">
        <div class="card-header">
          <h3>Fresh Brand – Roma Tomatoes, 16 oz</h3>
        </div>
        <div class="card-body">
          <div class="card-img">
            <img
              src="https://images-na.ssl-images-amazon.com/images/W/WEBP_402378-T2/images/I/417mI7YZDHL.AC_SL240_.jpg"
              alt="item-image">
          </div>
          <div class="card-details">
            <div class="item-price">
              <p><span>Price</span> $2.49</p>
              <button type="button" class="btn">10 percent Increase</button>
              <button type="button" class="btn">10 Percet Decrease</button>
            </div>
            <div class="item-ratings">
              <p><span>Ratings</span>10672</p>
              <button type="button" class="btn">Increase Ratings</button>
              <button type="button" class="btn">Decrease Ratings</button>
            </div>

            <div class="item-stock">
              <p><span>In stock</span>Yes</p>
              <button type="button" class="btn">Make Unavailable</button>
            </div>
            <div class="item-delivery">
              <p><span></span>Delivered in </span>6 days</p>
            </div>
           
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>